body {
    padding:5px 10px;
}

pre,
.codeInput {
    border:1px dashed #000;
    padding-left:25px;
    background-color:#FFF8E0;
}

.codeInput {
    width:100%;
    padding:0;
    border-style:solid;
}

.disabled {
    color:gray;
}

#search {
    float:right;
}

#search .zend_form dt,
#search .zend_form dd {
    float:left;
}

#search .zend_form dt label {
    padding-left:10px;
}

#code {
    clear:left;
}